
/*--------- logo ---------*/

.logo-area {
	width: auto;
	float: left;
}
a:hover {
	text-decoration: none;
	color: #005a99;
}
#site-logo {
	padding: 16px 0px 14px 57px;
	color: #3c3c3c;
	font-family: 'Oswald', sans-serif;
	font-size: 45px;
	font-weight: normal;
	min-width: 230px;
	min-height: 65px;
	margin: 5px 0px 0px 25px;
	background: url(../../images/colors/darkblue/logo.png) no-repeat left top;
}
#site-logo i {
	color: #005a99;
	font-family: 'Oswald', sans-serif;
	font-size: 40px;
	font-style: normal;
	font-weight: normal;
}
#site-logo a:hover {
	color: #3c3c3c;
}
.blog_post a.date {
	padding: 16px 5px 0px 0px;
	text-decoration: none;
	width: 50px;
	height: 53px;
	text-align: center;
	background: url(../../images/colors/darkblue/date-bg.jpg) no-repeat left top;
	line-height: 18px;
	display: block;
	font-weight: normal;
	margin-right: 18px;
	float: left;
}
.iosSlider .slider .item .inner .text1 span {
	color: #005a99;
    font-size: 55px;
    padding: 0;
	font-family: 'Oswald', sans-serif;
	font-weight: normal;
}
.iosSlider .slider .item .inner .morebut {
	border-left: 3px solid #005a99;

}
.home-services-list li a:hover {
	color: #005a99;
	text-decoration: none;
}
.morebut-small a:hover {
	color: #005a99;
}
.morebut-small {
	border-left: 3px solid #005a99;
}
.morebut-small-two a:hover {
	color: #005a99;
}
.morebut-small-two {
	border-left: 1px solid #005a99;
}
.home-latest-list li a:hover {
	color: #005a99;
}
#pricing-tables-helight .title {
	background-color: #005a99;
	border-top: 3px solid #308dd5;
	border-bottom: 1px solid #308dd5;
}
#pricing-tables-helight .price {
	background-color: #4baffc;
}
.button.small.colorchan{
	background-color: #4baffc;
}
.sidebars-navigation-list li a:hover {
	color: #005a99;
}
.popular-posts-list li a:hover {
	color: #005a99;
}
.comment_content .comment_text a:hover {
	color: #005a99;
}
.left-border-box {
	border-left: 3px solid #005a99;
}
.slider-video-left span.textbiggy  {
	color: #005a99;
}
.slider-video-left .morebut {
	border-left: 3px solid #005a99;
}
.slider-video-left .morebut a:hover {
	color: #005a99;
}
#content .content-right-sidebar h2 {
	border-left: 3px solid #005a99;
}
#site-searchform #s{
	border-left: 3px solid #005a99;
}
#site-searchform #searchsubmit:hover{
	background: #005a99 url(../images/site-search-icon.png) no-repeat center 9px;
}
#s3slider #slider1Content strong {
	color: #005a99;
}
#s3slider .morebut a:hover {
	color: #005a99;
}
#s3slider .morebut {
	border-left: 3px solid #005a99;
}


@media only screen and (min-width: 480px) and (max-width: 767px){
	#site-logo {margin: 10px 0px 0px 109px; }
	.iosSlider .slider .item .inner .text1 span {font-size: 30px }
	.iosSlider .slider .item .inner .text2 span {font-size: 13px; line-height: 14px; }

}

@media only screen and (max-width: 480px){
	#site-logo {margin: 13px 0px 0px 40px; min-width: 200px;}
	.iosSlider .slider .item .inner .text1 span {font-size: 18px; }
	.iosSlider .slider .item .inner .text2 span {font-size: 10px; line-height: 9px; }
}

